/* Override bootstrap css */
.navbar-inverse {
    background-color: #0095ff;
    border-color: #337ab7;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #006cf1;
}

.navbar-brand {
    font-size: 26px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 25px;
}


/* ComputerShop styles */
.form-login {
    margin-left: 100px;
}

.login-title {
    margin-top: 15px;
    color: #337ab7;
    margin-left: 60px;
}