/* Override bootstrap css */
.navbar-inverse {
    background-color: #0095ff;
    border-color: #337ab7;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #006cf1;
}

.navbar-brand {
    font-size: 26px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 25px;
}

ul .ng-scope {
    list-style-type: none;
}

/* ComputerShop styles */
.form-login {
    margin-left: 100px;
}

.view-title {
    margin-top: 15px;
    color: #337ab7;
    margin-left: 60px;
}

.paginationclass {
    margin: 19px 28px;
    list-style-type: none;
}

.paginationclass span {
    margin-left:15px;
    display:inline-block;
    width: 200px;
    text-align: center;
}

.pagination-controle li {
    display: inline-block;
}

.pagination-controle button {
    font-size: 12px;
    margin-top: -26px;
    cursor:pointer;
}
.pagination {
    margin:5px 150px !important;
}
